<div ngClass="skills">
    <h2 ngClass="skills__title"><span>Aptitudes et capacités</span></h2>
    <div ngClass="skills__container">
        <div ngClass="skills__item">
            <h3>
                Compétences <span>techniques</span>
            </h3>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li><span>SCSS</span></li>
                <li>JavaScript</li>
                <li><span>Angular</span></li>
                <li>TypeScript</li>
                <li><span>GitHub</span></li>
                <li><span>WordPress</span></li>
                <li>Tailwind</li>
                <li>Figma</li>
            </ul>
        </div>
        <div ngClass="skills__bar"></div>
        <div ngClass="skills__item">
            <h3>
                Compétences techniques <span>à acquérir</span>
            </h3>
            <ul>
                <li>React</li>
                <li>Construction d'API</li>
            </ul>
        </div>
        <div ngClass="skills__bar"></div>
        <div ngClass="skills__item">
            <h3>
                Compétences <span>comportementales</span>
            </h3>
            <ul>
                <li>Esprit d'équipe</li>
                <li>Autonomie</li>
                <li>Créativité</li>
                <li>Prise d'initiative et proactivité</li>
                <li>Ecoute et curiosité</li>
            </ul>
        </div>
        <div ngClass="skills__bar"></div>
        <div ngClass="skills__item">
            <h3><span>Langues</span></h3>
            <ul>
                <li>Français : langue maternelle</li>
                <li>Anglais : courant</li>
                <li>Allemand : niveau scolaire</li>
                <li>Italien : Débutant</li>
            </ul>
        </div>
    </div>
</div>