<header>
    <div>
        <span ngClass="logo" (click)="homecoming()">YR</span>
    </div>
    <button id="toggleButton" (click)="toggleNav()" ngClass="mobileNavToggle" aria-controls="primary-navigation" aria-expanded="false" data-visible="false">
        <span class="toggle__line"></span>
        <span class="toggle__line"></span>
        <span class="toggle__line"></span>
    </button>
    <nav ngClass="navBar">
        <ul id="primary-navigation" data-visible="false" ngClass="nav__list">
            <li ngClass="nav__item">
                <a routerLink="/home" routerLinkActive="active" ngClass="nav__link">Accueil</a>             
            </li>
            <li ngClass="nav__item" routerLinkActive="active">
                <a routerLink="/about" ngClass="nav__link">À-propos</a> 
            </li>
            <li ngClass="nav__item" routerLinkActive="active">
                <a routerLink="/contact" ngClass="nav__link">Contact</a> 
            </li>
            <div ngClass="nav__list__points"></div>
            <div ngClass="nav__list__background"></div>
        </ul>
    </nav>
</header>
