@use '../../../../styles.scss' as *;

//light-mode
.introduction__title.light{
    & > h1{
        & > span{
            color: $hover-color-light;
        }
    }
    & > p {
        & > span {
            color: $hover-color-light;
        }
    }
}


//dark-mode

.introduction{
    &__main{
        display: flex;
        justify-content: center;
        gap: 10%;
        align-items: center;
        height: 80vh;
    }
    &__title{
        max-width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        &>h1{
            font-size: $introduction-title-size;
            animation: 1s linear backwards titleAppear;
            &>span{
                color: $hover-color;
                display: inline-block;
            }
        }
        &>p{
            font-size: $introduction-subtitle-size;
            animation: 1s linear backwards subtitleAppear;
            &>span{
                color: $hover-color;
                display: inline-block;
            }
        }
    }
    &__img{
        height: 350px;
        width: 350px;
        aspect-ratio: 1;
        border-radius: 30% 15% 30% 15%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../../../../assets/profil-picture/author.png');
        position: relative;
        overflow: hidden;
        animation: 1.5s linear backwards introductionAppear;
    }
}

@keyframes titleAppear {
    from{
        opacity: 0;
        transform: translateX(-20%);
    }   
    to{
        opacity: 1;
        transform: translateX(0);
    } 
}

@keyframes subtitleAppear {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }   
    to{
        opacity: 1;
        transform: translateY(0);
    } 
}
@media (max-width: 800px) {
    .introduction{
        border: 1px solid green;
        &__title{
            max-width: 100%;
            height: fit-content;
            padding: 0 5px;
            text-align: center;
        }
        
        &__main{
            flex-direction: column;
            margin:  5rem auto 0 auto;
            width: 100%;
            padding: 0 5px;
            max-width: 100%;
        }
        &__img{
            background-position: center;
            width: 200px;
            height: 200px;
        }
    }
}

@media (max-width: 1200px) {
    
}