@use '../../../../styles.scss' as *;



@keyframes leftTitleAppear {
    from{
        transform: translate(-30%, -20%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes middleTitleAppear {
    from{
        transform: translate(-10%, -30%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes littleTitleAppear {
    from{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes rightTitleAppear {
    from{
        transform: translate(50%, 20%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

@keyframes contactAppear {
    from{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes contactSubmitAppear {
    from{
        opacity: 0;
        transform: translateX(-20%);
    }   
    100%{
        opacity: 1;
        transform: translateX(0%);
    } 
}

@keyframes contactCancelAppear {
    from{
        opacity: 0;
        transform: translateX(20%);
    }   
    100%{
        opacity: 1;
        transform: translateX(0%);
    } 
}

.form{
    position: relative;
    &__need{
        position: absolute;
        bottom: 5px;
        left: 60px;
        color: $hover-color;
        display: inline-block;
        &:hover{
            color: $hover-color;
        }
    }
    &__page{
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
        animation: 2s backwards linear 1 contactAppear;
    }
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 1200px;
        padding: 40px 60px;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
    &__title{
        font-family: Yellowtail;
        font-size: clamp(.75rem, 10vw, 3.5rem);
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: center;
        &>span{
            display: inline-block;
            overflow: visible;
        }
        & :nth-child(1n){
            display: inline-block;
        }
        & :nth-child(1){
            animation: 3s backwards .5s 1 leftTitleAppear;
        }
        & :nth-child(2){
            animation: 3s backwards 1.2s 1 middleTitleAppear;
        }
        & :nth-child(3){
            animation: 3s backwards 1s 1 littleTitleAppear;
            color: $hover-color;
        }
        & :nth-child(4){
            animation: 3s backwards .75s 1 rightTitleAppear;
            color: $hover-color;
        }
    }
    &__item{
        &:hover{
            & input::placeholder{
                color: $hover-color;
            }
            &, .form__grid1, .form__grid2, .form__grid3, .form__grid4, .form__grid5, .form__grid6{
                border-bottom: 1px solid $hover-color;
            }
        }
    }
    &__grid1{
        grid-area: 1/1/2/2;
        border-bottom: 1px solid rgb(255, 255, 255);
        transition: all .2s linear;
    }
    &__grid2{
        grid-area: 1/2/2/3;
        border-bottom: 1px solid white;
        transition: all .2s linear;
    }
    &__grid3{
        grid-area: 2/1/3/2;
        border-bottom: 1px solid white;
        transition: all .2s linear;
    }
    &__grid4{
        grid-area: 2/2/3/3;
        border-bottom: 1px solid white;
        transition: all .2s linear;
    }
    &__grid5{
        grid-area: 3/1/4/3;
        border-bottom: 1px solid white;
        transition: all .2s linear;
    }
    &__grid6{
        grid-area: 4/1/5/3;
    }
    &__message{
        &>label{
            &>input{
                width: 100%;
            }
        }
        &:hover{
            &, .form__grid6{
                border-bottom: 1px solid $hover-color;
            }
            & input::placeholder{
                color: $hover-color;
            }
        }
    }
    &__buttons{
        margin: 10px auto;
        display: flex;
        max-width: 100%;
        flex-direction: row;
        gap: 20px;
        &__submit{
            animation: contactSubmitAppear 1.5s backwards linear;
            &:hover, .form__buttons__submit:focus{
                box-shadow: inset 0 -4em 0 0 rgb(34, 34, 34);
                color: $hover-color;
                border: 1px solid $hover-color;
                transform: translateY(-5%);
            }
            &:disabled{
                cursor: default;
                background-color: rgb(128, 128, 128);
                &:hover, .form__buttons__submit:disabled:focus{
                    transform: translateY(0%);
                    box-shadow: inset 0 -4em 0 0 rgb(31, 31, 31);
                    color: white;
                    border: 1px solid white;
                }
            }
        }
        &__cancel{
            animation: contactCancelAppear 1.5s backwards linear;
            &:hover, .form__buttons__cancel:focus{
                box-shadow: inset 0 -4em 0 0 rgb(34, 34, 34);
                color: $hover-color;
                border: 1px solid $hover-color;
                transform: translateY(-5%);
            }
        }
    }
}

.buttons{
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    font-size: clamp(.8rem, 3vw, 1rem);
    border: 1px solid white;
    color: white;
    transition: .2s all linear;
}

form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

input{
    padding: 25px 60px;
    font-size: 1.2rem;
    transition: .5s box-shadow linear;
    transition: .5s background-color linear;
    color: $hover-color;
    background-color: transparent;
    border: none;
    border-radius: none;
    &::placeholder{
        transition: all .2s linear;
        color: rgba(143, 143, 143, 0.9);        
    }
    &:focus{
        box-shadow: 
            inset 50em 0 0 0 rgba(128, 128, 128, 0.2),
            inset 50em 0 0 0 rgba(128, 128, 128, 0.2);
        color: white;
    }
    &.ng-pristine.ng-invalid{
        -webkit-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow:none;
    }
    &.ng-dirty.ng-invalid{
        background-color: rgba(21, 234, 213, .3);
    }
}

@media (max-width: 500px) {

    input{
        padding: 0;
        width: 80%;
        &::placeholder{
            transition: all .2s linear;
            color: rgba(143, 143, 143, 0.9);
            width: 100%;        
        }
    }
    .acknowledgments{
        font-size: 0.5rem;
    }
    .form{
        &__container{
            margin-top: 4rem;
            width: 100%;
            padding: 30px 5px;
            border-radius: 0px;
        }
        &__grid1{
            width: 80%;
            grid-area: 1 / 1 / 2 / 2;
            margin: 0 auto;
        }
        &__grid2{
            width: 80%;
            grid-area: 2 / 1 / 3 / 2;
            margin: 0 auto;
        }
        &__grid3{
            width: 80%;
            grid-area: 3 / 1 / 4 / 2;
            margin: 0 auto;
        }
        &__grid4{
            width: 80%;
            grid-area: 4 / 1 / 5 / 2;
            margin: 0 auto;
        }
        &__grid5{
            width: 80%;
            grid-area: 5 / 1 / 6 / 2;
            margin: 0 auto;
        }
        &__grid6{
            width: 80%;
            grid-area: 6 / 1 / 7 / 2;
            display: flex;
            justify-content: center;
        }
    }
}


@media (max-width: 900px) {
    .form{
        &__page{
            height: 100vh;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-size: cover;
            background-position: center;
            position: relative;
            animation: 2s backwards linear 1 contactAppear;
        }
        &__grid1{
            grid-area: 1 / 1 / 2 / 2;
        }
        &__grid2{
            grid-area: 2 / 1 / 3 / 2;
        }
        &__grid3{
            grid-area: 3 / 1 / 4 / 2;
        }
        &__grid4{
            grid-area: 4 / 1 / 5 / 2;
        }
        &__grid5{
            grid-area: 5 / 1 / 6 / 2;
        }
        &__grid6{
            grid-area: 6 / 1 / 7 / 2;
        }
    }
    form{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
    }
}