@use '../../../../styles.scss' as *;

.resume{
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: 0 auto;
    gap: 30px;
    &__title{
        position: sticky;
        top: $header-size;
        height: fit-content;
        line-height: 1.1;
        animation: 2s linear backwards 1s titleResumeAppear;
        font-size: clamp(1.1rem, 3vw, 1.3rem);
    }
    &__container{
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 1;
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 5px;
        &>h3{
            font-size: clamp(1rem, 3vw, 1.2rem);
            animation: 2s linear backwards 1s h3ResumeAppear;
        }
        &>p{
            animation: 1.5s linear backwards 1.5s ulPResumeAppear;
            font-size: clamp(.8rem, 3vw, 1rem);
        }
        &>ul{
            list-style-type: '- ';
            padding-left: 40px;
            animation: 1.5s linear backwards 1.5s ulPResumeAppear;
            font-size: clamp(.8rem, 3vw, 1rem);
        }
    }
    &__bar{
        height: 1px;
        margin: 0 auto;
        width: 60%;
        background-color: $hover-color;
        animation: 2s linear backwards 1s barAppear;
    }
}

span{
    color: $hover-color;
}

@keyframes titleResumeAppear {
    0%{
        opacity: 0;
        transform: translateX(-30%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes h3ResumeAppear {
    0%{
        opacity: 0;
        transform: translateY(-30%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ulPResumeAppear {
    0%{
        opacity: 0;
        transform: translateX(20%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes barAppear {
    0%{
        opacity: 0;
        width: 0%;;
    }
    100%{
        opacity: 1;
        width: 60%;;
    }
}

//Media queries keyframes 

@keyframes titleResumeMqAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes h3ResumeMqAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes ulPResumeMqAppear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 830px) {
    .resume{
        padding: 0 10px;
        &__title{
            animation: 2s linear backwards 1s titleResumeMqAppear;
        }
        &__item{
            &>h3{
                animation: 2s linear backwards 1s h3ResumeMqAppear;
            }
            &>p{
                animation: 1.5s linear backwards 1.5s ulPResumeMqAppear;
            }
            &>ul{
                animation: 1.5s linear backwards 1.5s ulPResumeMqAppear;
            }
        }
    }
}

@media (max-width: 1000px) {
    .resume{
        flex-direction: column;
        &__title{
            position: inherit;
            align-self: center;
        }

    }
}

@media (max-width: 1200px) {
    .resume{
        width: 100%;
        &__title{
            position: inherit;
        }
    }
}