//Font import

@font-face {
    font-family: Yellowtail;
    src: url(assets/fonts/Yellowtail-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Poppins;
    src: url(assets/fonts/Poppins-Regular.ttf) format('truetype');
}

//reset

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


//Variables

$nav-size: 1rem;
$header-size: 3.5rem;
$logo-size: 1.5rem;
$hover-color: #15EAD5;
$main-background: #020202;
$nav-toggle-color: rgba(52, 58, 64, .5);
$heroe-title-size: clamp(2rem, 5vw, 4rem);
$welcome-size: clamp(1rem, 3vw, 2rem);
$introduction-title-size: clamp(1.5rem, 5vw, 3rem);
$introduction-subtitle-size: clamp(1rem, 3vw, 1.5rem);

//light-mode variables

$main-background-light: #fefae0;

//duration variables

$nav-appearence: 1.2s;
$heroe-appearence: 1s;

//Common style
body.dark{
    background-color: $main-background;
    color: white;
    font-family: Poppins;
    transition: all .3s ease;
}

body.light{
    background-color: $main-background-light;
    color: black;
    font-family: Poppins;
    transition: all .3s ease;
}

//Scrollbar style
*::-webkit-scrollbar {
    width: 5px;
}
*::-webkit-scrollbar-thumb{
    scrollbar-width: 5px;
    background: $hover-color;
    border-radius: 1px;
}
*::-webkit-scrollbar-track{
    background: rgb(8, 8, 8);
}

//Keyframes 
//Projects section appear animation
@keyframes projectsAppear {
    from{
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(-0);
        opacity: 1;
    }
}

//heroe section main page animation
@keyframes heroeAppear {
    from{
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

//appearance of projects 

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }    
}


//Introduction section keyframes
//Profil picture appearence
@keyframes introductionAppear {
    from{
        opacity: 0;
        transform: scale(.9);
        border-radius: 0%;
    }
    100%{
        opacity: 1;
        transform: scale(1);
        border-radius: 30% 15% 30% 15%;
    }
}