<div ngClass="projects__component">
    <div ngClass="projects__title"><h2>Mes <span>projets</span></h2></div>
    <div ngClass="projects__container">
        <article *ngFor="let projet of projetList" ngClass="projects__item" (click)="toProject(projet.id.toString())">
            <div style="background-image: url({{projet.picture}});" ngClass="projects__picture"></div>
            <div ngClass="projects__description">
                <p><span>Nom du projet</span> : {{projet.name}}</p>
                <p><span>Description</span> : {{projet.description}}</p>
                <p><span>Technologies utilisées</span> : {{projet.technologies}}</p>
                <div ngClass="projects__links">
                    <a href={{projet.github}} target="_blank"><img src="../../../../assets/icons/Git-icon-white.svg.png" alt="Lien vers le repository GitHub du projet"></a>
                    <a ngClass="projects__links__directTo" href={{projet.directory}} target="_blank">Accéder au projet</a>
                </div>
            </div>
        </article>
    </div>
</div>