<div ngClass="projects__component">
    <div ngClass="projects__title"><h2>Mes <span>projets</span></h2></div>
    <div ngClass="projects__container">
        <article *ngFor="let projet of projetList" ngClass="projects__item" (click)="toProject(projet.id.toString())">
            <img src="{{projet.picture}}" alt="Aperçu de la page d'accueil de {{projet.name}}">
            <div ngClass="projects__description">
                <h3>{{projet.name}}</h3>
            </div>
        </article>
    </div>
</div>